{% extends "base.html" %}


{% block title%}My blog - Публикации{% endblock %}

{% block content%}
    <div class="header">
        <h2>Список публикаций</h2>
    </div>


    <table>
        <tr>
            <td>Название</td><td>Дата</td>
        </tr>
        {% for publication in publications %}
        <tr>
            <td><a href="/publications/{{ publication.id }}">{{ publication.name }}</a></td>
            <td>{{ publication.date }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}